.book-content {
  padding: 0 $post-horizontal-pd-lg;

  @media all and (max-width: $pc-media) {
    padding: 0 1.25rem;
  }

  @import "../_components/post";
  @import "../_components/comments";
  @import "../_components/highlight/highlight";
}

h1 {
  font-weight: 600;
  font-size: 1.8em;
  margin-bottom: 1.5em;
  border-bottom: solid 3px lightgray;
}
h1:before {
  content: '■  ';
}

.book-post-info {
  position: fixed;
  font-size: $font-size-smaller;

  @media all and (min-width: $pc-media) {
    max-width: $post-info-max-width-xl;
  }

  @media all and (min-width: $pad-media) and (max-width: $pcs-media) {
    max-width: $post-info-max-width-lg;
  }

  @import "../_components/post-meta";
  @import "../_components/toc";
}
